<nav class="navbar sticky-top navbar-expand-lg navbar-light" style= "background-color:#A9D3FF;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/posts">Come Together</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/">Home</a>
          <a class="nav-link" href="/posts">All Posts</a>
          <a class="nav-link" href="/posts/new">New Post</a>

          <div class="navbar-nav ml-auto">
           
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link" href="#">Register</a>
            <a class="nav-link" href="#">Logout</a>
           
        </div>

        </div>
      </div>
    </div>
  </nav>