<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Comment</h1>
    <div class="col-6 offset-3">
    <form action="/posts/<%= id %>/comments " method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label"for="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" cols="20" rows="5" required></textarea>
            <div class="valid-feedback"> Looks good!</div>
        </div>
        <button class="btn btn-success">Post Comment</button>

    </form>
</div>    
</div>



